{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Avaliações Recebidas{% endblock %}

{% block content %}
<h1 style="margin-bottom: 50px; padding: 0px 0px;">
    <a class="icon-brand">
        Avaliações Recebidas
    </a>
</h1>

<div class="section-container">
  <div class="materiais-grid">
    {% with has_avaliacoes=False %}
      {% for material in materiais %}
        {% if material.comentarios.exists or material.curtidas.exists %}
          {% with has_avaliacoes=True %}
          {% endwith %}
          <div class="material-card">
            <h5><strong>Título: {{ material.titulo }}</strong></h5>
            {% if material.comentarios.exists %}
              <h6>Comentários:</h6>
              {% for comentario in material.comentarios.all %}
                  <div class="comentario">
                    <h6>{{ comentario.autor }}: {{ comentario.texto }}</h6>
                  </div>
              {% endfor %}
            {% endif %}
            <hr>
            {% if material.curtidas.exists %}
              <h6>Curtidas:</h6>
              <ul>
                  {% for usuario in material.curtidas.all %}
                  <div><h6>❤️ {{ usuario.username }}</h6></div>
                  {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}

      {% if not tem_avaliacoes %}
        <p>Você ainda não recebeu avaliações.</p>
      {% endif %}

    {% endwith %}
  </div>
</div>

{% endblock %}
