{% extends 'base.html' %}
{% load static %}
{% block title %}Materiais Compartilhados{% endblock %}

{% block content %}

<h1 style="margin-bottom: 50px;">
    <a class="icon-brand">
        Materiais Compartilhados
    </a>
</h1>

<div class="section-container">
    <div class="materiais-grid">
        {% for material in materiais %}
        <div class="material-card">
            <strong>{{ material.titulo }}</strong><br>
            <strong>Descrição:</strong> {{ material.descricao }}<br>
            <a style="color: rgb(52, 187, 10); font-weight: bold; text-decoration: none;" 
            href="{{ material.arquivo.url }}">Baixar</a> |
            Compartilhado em: {{ material.data_compartilhado }}
        </div>
        {% empty %}
            <p>Nenhum material compartilhado ainda.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}